:root {
    width: 380px;
}

body{
    overflow: hidden auto;
}
 

header {
    font-family: Tahoma, Geneva, sans-serif;
    width: 370px;
    height: 25px;
    margin-bottom: 14px;
    -moz-user-select: none;
    user-select: none;
}

header > .container {
    width: 50%;
    float: left;
}

header > #verInfo {
    width: 50%;
    float: right;
    text-align: right;
}

.container {
    position: relative;
}

.container .loginButton {
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 6px;
    cursor: pointer;
}

.loginButton:hover {
    background-color: blue;
    color:white;
}

.container input{
    width:0;
    height:0;
    opacity:0;
    position:absolute;
}

#menu{
    float: left;
    width: 370px;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
    margin: 5px;
    padding: 5px;
}
    

span {
    float: left;
    display: flex;
    position: relative;
    background-color: white;
    color: black;
    padding: 5px 10px;
}

span.offline {
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}

span:hover {
    color: white;
    cursor: pointer;
}
			 

.live {
    display: flex;
    position: relative;
    align-content: space-between;
    outline: 3px solid black;
    height: 32px;
    width: 370px;
    padding: 0px;
    margin: 2px 0px;
    -moz-user-select: none;
    user-select: none;
}

.live:hover{
    color: white;
    background-color: blue;
    cursor: pointer;
}


.channel{
    position: absolute;
    height: 32px;
    line-height:32px;
    left: 36px;
    width: 325px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin: auto;
}

.icon {
    position: absolute;
    top: -2px;
    left: -2px;
    float: left;
    height: 32px;
    width: 32px;
    padding: 0px;
    margin: 0px;
    border: 2px solid black;	
}


p {
    float: left;
    text-align: left;
    margin: 5px 0px 5px 0px;
}
