:root {
    --content-width: 480px;
}

body{
    width: 500px;
    overflow: hidden auto;
}
 

header {
    font-family: Tahoma, Geneva, sans-serif;
}

.menu{
    display: flex;
    flex-direction: row;
    /*border: 2px solid blue;
    width: var(--content-width);
    height: 30px;*/
}

span {
    background-color: white;
    color: black;
    border: 1px solid blue;
    padding: 5px 10px;
}

span.offline {
    background-color: red;
}

span:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}
			 

.live {
    outline: 3px solid black;
    align-content: space-between;
    height: 90px;
    width: var(--content-width)-3px;
    padding: 0px;
    margin: 1px 0px;
}

.live:hover{
    color: white;
    background-color: blue;
}

.time {
    word-spacing: 3px;
    margin: 5px 2px;
    height: 15px;
    width: var(--content-width);
    clear: both;
}


.icon {
    float: left;
    height: 64px;
    width: 64px;
    padding: 0px;
    margin: 1px;
    border: 2px solid black;	
}


.title {
    height: 64px;
    width: var(--content-width)-70px;
    margin: 3px 0px 2px 2px;
    font-weight: bold;
    overflow: hidden;
}

.reloadButton {
    border: 2px solid black;
    box-shadow: 10px;
    background-color: #c3d0f4;
    padding: 5px 10px;
}

.reloadButton:hover{
    cursor: pointer;
}
